report.pdf

robel_yearly.tex
robel_yearly.png
robel_monthly.png

daubenmire.tex
daubenmire_yearly.png
daubenmire_yearly2.png

nectar_yearly.png
nectar_ratio.csv
nectar.tex

monarch_yearly.png
monarch.tex
